# List of requirements, put in setuptools later
subprocess
numpy
os
MinHash
screed
pybloom
khmer
bz2
tempfile
matplotlib
multiprocessing
h5py
re
itertools
blist
bisect
ctypes
warnings
shapely
descartes
# The C++ program query_per_sequence which depends on jellyfish-2.2.3
